@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer; /* Добавление фона под слоем */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Скрыто по умолчанию */
  justify-content: center;
  background-color: $overlayBackground; /* Цвет фона для подложки */
  z-index: 100; /* Поднятие модалки поверх других элементов */
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;

  /* При добавлении класса _active, модалка становится видимой */
  &_active {
    display: flex; /* Отображается как flex */
  }

  &__container {
    @include mixins.container; /* Стиль контейнера */
    @include mixins.flex(column); /* Flexbox по вертикали */
    gap: $defaultPadding; /* Расстояние между элементами */
    background-color: $background; /* Фон контейнера */
    border-radius: 3rem; /* Закругленные углы */
    box-sizing: border-box;
    position: relative;
  }

  &__content {
    flex-grow: 1; /* Контент будет расширяться по мере необходимости */
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row); /* Flexbox по горизонтали */
    align-items: center; /* Выравнивание элементов по центру */
    gap: 2rem; /* Расстояние между действиями */
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2); /* Отступ сверху */
    right: calc(#{$defaultPadding} / 2); /* Отступ справа */
    @include mixins.icon(2rem, 'close'); /* Используем иконку для кнопки закрытия */
    @include mixins.link(white, $hover); /* Стили для кнопки при наведении */
  }

  &__footer {
    @include mixins.flex(row); /* Flexbox по горизонтали */
    align-items: center; /* Выравнивание элементов по центру */
    gap: 2rem; /* Расстояние между элементами */
  }

  &__message {
    white-space: nowrap; /* Не переносить текст на новую строку */
    max-width: 60%; /* Максимальная ширина сообщения */
    text-overflow: ellipsis; /* Троеточие, если текст не помещается */
    overflow: hidden; /* Скрывать переполнение текста */

    &_error {
      color: $error; /* Цвет для ошибок */
    }
  }
}
